* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: blue;
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
}

.callout-container {
    height: 100vh;
    background-image: url(../images/thomas-park-4aWCVJA2uSo-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.quotes-container {

}

.features-container {

}

.top-5-container {

}