* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: blue;
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
}

.callout-container {

}

.quotes-container {

}

.features-container {

}

.top-5-container {
    
}