* {
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
}

.callout-container {
    height: 100vh;
    background-image: url(../images/thomas-park-4aWCVJA2uSo-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.quotes-container {

}

.features-container {

}

.top-5-container {

}

/*Jumbotron*/

.jumbotron {
    background: transparent;
}

.jumbotron-header {
    color: white;
}

.lead {
    color: whitesmoke;
}

.white-text {
    color: whitesmoke;
}